{{#if model.getNodes.isRunning}}
  <div class="layout flex layout-align-space-around">
    {{paper-progress-circular warn=true class="md-hue-3" diameter=96}}
  </div>
{{else}}
  <div class="layout-column flex layout-align-space-araund md-padding">
      <img src="/assets/images/logo.png" class="logo" alt="Bitcon Cash"/>
      <h1>Bitcoin Cash Nodes</h1>
      <h6 class="no-margin">powered by <a href="https://www.bitcoinunlimited.info/" target="_blank">Bitcoin Unlimited</a></h6>
      <p class="md-padding">
        Snapshot of reachable Bitcoin Cash nodes as of {{snapshotDate}}.
      </p>
      <div class="layout-row md-padding">
        {{paper-input class="flex-50" label="Filter nodes, e.g., BUCash:1 or, 73.172" value=filter onChange=(action 'filterNodes') icon="search"}}
      </div>
      <p>
        Showing {{fileterNodesCount}} out of {{nodesCount}}.
      </p>
      <div class="md-padding">
        {{occluded-table model=nodesData columns=tableColumns}}
      </div>
      <p class="md-padding">
        Start a Bitcoin Cash full node on your Linux, Mac, BSD or Windows system to help
        validate and relay transactions across the Bitcoin network by running this command:
        <code>
          command here
        </code>
      </p>
  </div>
{{/if}}
