{{#if model.getNodes.isRunning}}
  <div class="layout flex layout-align-space-around">
    {{paper-progress-circular warn=true class="md-hue-3" diameter=96}}
  </div>
{{else}}
  <div class="layout-column flex layout-align-space-araund md-padding">
      <h1>Bitcoin Cash Nodes</h1>
      <p class="md-padding">
        Snapshot of reachable Bitcoin Cash nodes as of {{snapshotDate}}.
      </p>
      <div class="layout-row md-padding">
        {{paper-input class="flex-50" label="Filter nodes, e.g., BUCash:1 or, 73.172" value=filter onChange=(action 'filterNodes') icon="search"}}
      </div>
      <p class="md-padding">
        Showing {{fileterNodesCount}} out of {{nodesCount}}.
      </p>
      <div class="md-padding">
        {{occluded-table model=nodesData}}
      </div>
  </div>
{{/if}}
